<div class="middle">
  <div class="inner">

    <h1>What would you like to eat?</h1>

    <div class="button">
      <%= link_to "I'm Feeling Hungry", random_bigoven_path %>
    </div>

  </div>
</div>