<div class="middle">
  <div class="inner">

    <h1>About</h1>

    <div class="recipe">
      <h2>Ever have trouble finding something to cook?</h2>
      <p>Let me help you with that. Use this web app to help you decide what to cook: A snack, appetizer, main dish, dessert, or maybe even a cocktail.	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.</p>
      <p>This web app was made solely for a <a href="https://generalassemb.ly/" target='_blank'>General Assembly</a> class.</p>
    </div>

  </div>
</div>