<div class="middle">
  <div class="inner">

    <h1>What would you like to eat?</h1>

    <div class="random">
      <%= link_to "I'm Feeling Hungry", random_recipe_path %>
    </div>

    <% if user_signed_in? %>
      <center><%= link_to "+ Add New Recipe", new_recipe_path %></center>
    <% end %>

  </div>
</div>